@model List<Assignment>
@{
    ViewData["Title"] = "Assignments";
}

<nav>
    <ol class="breadcrumb">
        <li class="breadcrumb-item active me-auto">Assignments</li>
        <li>
            <a asp-action="DownloadCsv" class="btn btn-outline-primary btn-sm me-2" title="Download CSV">
                <i class="bi bi-box-arrow-down"></i>
            </a>
            <a asp-action="Add" class="btn btn-outline-primary btn-sm" title="Add Assignment">
                <i class="bi bi-plus-lg"></i>
            </a>
        </li>
    </ol>
</nav>

@if (Model.Count > 0)
{
    <table class="table table-striped align-middle">
        <thead>
            <tr>
                <th>Name</th>
                <th class="d-none d-lg-table-cell">Publish Time</th>
                <th class="d-none d-lg-table-cell">Close Time</th>
                <th class="d-none d-lg-table-cell"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var assignment in Model)
            {
                <tr>
                    <td>
                        <a asp-action="View" asp-route-id="@assignment.Id">@assignment.Name</a>
                    </td>
                    <td class="d-none d-lg-table-cell">
                        @if (assignment.TimePublished.HasValue)
                        {
                            var color = assignment.IsPublished ? "" : "text-warning";
                            <span class="@color">@assignment.TimePublished?.ToLocalTime().ToString("g")</span>
                        }
                    </td>
                    <td class="d-none d-lg-table-cell">
                        @if (assignment.TimeClosed.HasValue)
                        {
                            var color = assignment.IsClosed ? "" : "text-warning";
                            <span class="@color">@assignment.TimeClosed?.ToLocalTime().ToString("g")</span>
                        }
                    </td>
                    <td class="d-none d-lg-table-cell">
                        <a asp-action="Edit" asp-route-id="@assignment.Id" title="Edit Assignment"
                           class="btn btn-outline-primary btn-sm">
                            <i class="bi bi-pencil-fill"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}